<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="padding-left: 10%;padding-right: 10%">
    <div dir="rtl">
        <div style="clear:both">
			<p style="margin-top:0pt; margin-bottom:0pt; font-size:14pt;text-align:left ">
				<span dir="rtl">العيون في 30-01-2024&#xa0;&#xa0; </span>
			</p>
		</div>
        <img style="display: block; margin: 0 auto; margin-top: 20px;" src="LogoDoc.jpeg" width="119" height="110" alt="images">
        <p dir="ltr" style="margin-top:-90px; margin-right:14.05pt; margin-bottom:0pt; text-align:right; font-size:14pt;"><span style="font-weight:bold;" dir="ltr">&nbsp;</span></p>
        <p dir="ltr" style="margin-top:0pt; margin-bottom:0pt; text-align:right; font-size:14pt;"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong><strong>وزارة العدل&nbsp;</strong></p>
        <p dir="ltr" style="margin-top:0pt; margin-bottom:0pt; text-align:right; font-size:14pt;"><strong>محكمة الاستئناف بالعيون</strong></p>
        <p dir="ltr" style="margin-top:0pt; margin-bottom:0pt; text-align:right; font-size:14pt;"><strong>المحكمة الابتدائية بالعيون</strong></p>
        <p dir="ltr" style="margin-top:0pt; margin-bottom:0pt; text-align:right; font-size:14pt;"><strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</strong><strong>*****</strong></p>
        <p dir="ltr" style="margin-top:0pt; margin-bottom:0pt; text-align:right; font-size:14pt;"><strong>* السجل التجاري&nbsp;</strong><strong><span style="font-size:11pt;">*</span></strong></p>
        <p dir="ltr" style="margin-top:0pt; margin-bottom:0pt; text-align:right;"><strong>&nbsp;</strong></p>
        <p dir="ltr" style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:20pt;"><strong><u>إطار خاص بكتابة الضبط</u></strong></p>
        <p dir="ltr" style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:11pt;"><strong>&nbsp;</strong></p>
        <p dir="rtl" style="margin-top:0pt; margin-right:33.15pt; margin-bottom:0pt; text-align:justify; font-size:28pt;"><strong><span style="font-family:Arial; font-size:14pt;">التسمية:</span></strong><span style="font-family:Arial; font-size:14pt; font-weight:bold;" dir="ltr">&nbsp;</span> &nbsp; <strong><span style="font-family:Arial;">كرانس دي ديزير</span></strong><strong><span style="font-family:Arial; font-size:24pt;">&nbsp;</span></strong></p>
        <p dir="rtl" style="margin-top:0pt; margin-right:33.15pt; margin-bottom:0pt; text-align:justify; font-size:14pt;"><strong><span style="font-family:Arial;">&nbsp;</span></strong></p>
        <p dir="rtl" style="margin-top:0pt; margin-right:33.15pt; margin-bottom:0pt; text-align:justify; font-size:14pt;"><strong><span style="font-family:Arial;">الوثائق المدلى بها للتسجيل</span></strong></p>
        <p dir="rtl" style="margin-top:0pt; margin-right:33.15pt; margin-bottom:0pt; text-align:justify; line-height:115%; font-size:14pt;"><span style="font-family:Arial; font-weight:bold;" dir="ltr">&nbsp;</span></p>
        <ul style="margin:0pt; padding-right:0pt; list-style-image:url('1706985714_-/1706985714_--2.png');">
            <li dir="rtl" style="margin-right:69.15pt; text-align:justify; line-height:115%; font-family:serif; font-size:14pt; font-weight:bold;"><span style="font-family:Arial;">شهادة ممنوحة من طرف البنك المودع عليه تثبت إيداع الأموال المستخلصة من تحرير رأس المال</span></li>
        </ul>
        <ul style="margin:0pt; padding-right:0pt; list-style-image:url('1706985714_-/1706985714_--2.png');">
            <li dir="rtl" style="margin-right:69.15pt; text-align:justify; line-height:115%; font-family:serif; font-size:14pt; font-weight:bold;"><span style="font-family:Arial;">قائمة بالأعضاء المتعاونين</span></li>
        </ul>
        <ul style="margin:0pt; padding-right:0pt; list-style-image:url('1706985714_-/1706985714_--2.png');">
            <li dir="rtl" style="margin-right:69.15pt; text-align:justify; line-height:115%; font-family:serif; font-size:14pt;"><strong><span style="font-family:Arial;">شهادة المصادقة على التسمية</span></strong></li>
        </ul>
        <ul style="margin:0pt; padding-right:0pt; list-style-image:url('1706985714_-/1706985714_--2.png');">
            <li dir="rtl" style="margin-right:69.15pt; text-align:justify; line-height:115%; font-family:serif; font-size:14pt; font-weight:bold;"><span style="font-family:Arial;">وصل السلطة الإدارية المحلية</span></li>
        </ul>
        <ul style="margin:0pt; padding-right:0pt; list-style-image:url('1706985714_-/1706985714_--2.png');">
            <li dir="rtl" style="margin-right:69.15pt; text-align:justify; line-height:115%; font-family:serif; font-size:14pt; font-weight:bold;"><span style="font-family:Arial;">النظام الأساسي</span></li>
            <li dir="rtl" style="margin-right:69.15pt; margin-bottom:12pt; line-height:115%; font-family:serif; font-size:14pt;"><strong><span style="font-family:Arial;">نسخة من البطاقة الوطنية للتعريف خاصة بأعضاء التعاونية&nbsp;</span></strong></li>
        </ul>
        <p dir="rtl" style="margin-top:0pt; margin-right:30.45pt; margin-bottom:12pt; text-align:justify; font-size:14pt;"><strong><span style="font-family:Arial;">وضع هذا الطلب بتاريخ 30/01/2023 على الساعة 14:00 تحت رقم من السجل الترتيبي 35.&nbsp;</span></strong></p>
        <p dir="rtl" style="margin-top:0pt; margin-right:30.45pt; margin-bottom:0pt; text-align:justify; font-size:18pt;"><strong><span style="font-family:Arial; font-size:14pt;">تشهد كتابة الضبط أنه بعد التحقق من صحة البيانات الواردة في هذا التصريح ومطابقتها للوثائق المدلى بها والمنصوص عليها قانونا قامت بالتسجيل المطلوب بسجل التعاونيات تحت رقم&nbsp;</span></strong><strong><span style="font-family:Arial;">05.2024.234.1</span></strong></p>
        <p dir="rtl" style="margin-top:0pt; margin-right:30.45pt; margin-bottom:0pt; text-align:justify; font-size:14pt;"><strong><span style="font-family:Arial;">&nbsp;</span></strong></p>
        <p dir="rtl" style="margin-top:0pt; margin-right:30.45pt; margin-bottom:0pt; text-align:justify; font-size:14pt;"><strong><span style="font-family:Arial;">&nbsp;</span></strong></p>
        <p dir="rtl" style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:14pt;"><strong><u>إمضــــــــــــــــــــــــــــاء</u></strong></p>
        <p dir="rtl" style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:14pt;">&nbsp;</p>
        <p dir="rtl" style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:14pt;"><strong>توقيع رئيس كتابة الضبط&nbsp;</strong></p>
        <p dir="rtl" style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:18pt;"><strong>&nbsp;</strong></p>
        <p dir="rtl" style="margin-top:0pt; margin-bottom:0pt; text-align:center; font-size:14pt;"><strong>وطابع المحكمة</strong></p>
        <p dir="rtl" style="margin-top:0pt; margin-bottom:0pt; border-bottom:0.75pt solid #000000; padding-bottom:1pt; font-size:14pt;"><strong>&nbsp;</strong></p>
        <p dir="ltr" style="margin-top:0pt; margin-bottom:0pt;">&nbsp;</p>
        <p dir="ltr" style="margin-top:0pt; margin-bottom:0pt; text-align:center;"><strong><u>إطار خاص بتعليل رفض التسجيل عند الاقتضاء</u></strong></p>
        <p dir="ltr" style="margin-top:0pt; margin-bottom:0pt; text-align:right;"><strong>&nbsp;</strong></p>
        <p dir="ltr" style="margin-top:0pt; margin-bottom:0pt; text-align:right;"><strong><u>أسباب رفض طلب التسجيل</u></strong><strong>..........................................................</strong></p>
        <p dir="ltr" style="margin-top:0pt; margin-bottom:0pt; text-align:right;"><strong>.....................................................................................</strong></p>
        <p dir="ltr" style="margin-top:0pt; margin-bottom:0pt; text-align:right;"><strong>&nbsp;</strong></p>
        <p dir="ltr" style="margin-top:0pt; margin-right:101.3pt; margin-bottom:0pt; text-align:right;"><strong><span style="width:36pt; display:inline-block;">&nbsp;</span></strong><strong><span style="width:36pt; display:inline-block;">&nbsp;</span></strong><strong><span style="width:36pt; display:inline-block;">&nbsp;</span></strong><strong><span style="width:36pt; display:inline-block;">&nbsp;</span></strong><strong><span style="width:36pt; display:inline-block;">&nbsp;</span></strong><strong><span style="width:36pt; display:inline-block;">&nbsp;</span></strong><strong>توقيع رئيس كتابة الضبط</strong><strong>&nbsp;&nbsp;&nbsp;</strong><strong><span style="width:32.13pt; display:inline-block;">&nbsp;</span></strong></p>
        <p dir="ltr" style="margin-top:0pt; margin-bottom:0pt; text-align:right;"><strong><span style="width:36pt; display:inline-block;">&nbsp;</span></strong><strong><span style="width:36pt; display:inline-block;">&nbsp;</span></strong><strong><span style="width:36pt; display:inline-block;">&nbsp;</span></strong><strong><span style="width:36pt; display:inline-block;">&nbsp;</span></strong><strong><span style="width:36pt; display:inline-block;">&nbsp;</span></strong><strong><span style="width:36pt; display:inline-block;">&nbsp;</span></strong><strong><span style="width:36pt; display:inline-block;">&nbsp;</span></strong></p>
        <p dir="ltr" style="margin-top:0pt; margin-bottom:0pt; text-align:right;"><strong>وطابع المحكمة</strong><strong><span style="width:6.22pt; display:inline-block;">&nbsp;</span></strong><strong><span style="width:36pt; display:inline-block;">&nbsp;</span></strong><strong><span style="width:36pt; display:inline-block;">&nbsp;</span></strong><strong><span style="width:36pt; display:inline-block;">&nbsp;</span></strong></p>
    </div>
    <p style="bottom: 10px; right: 10px; position: absolute;"><a href="https://wordtohtml.net" target="_blank" style="font-size:11px; color: #d0d0d0;">Converti en HTML avec WordToHTML.net</a></p>
</body>
</html>